In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/merged_df_mon.csv')
df.head()

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
0,Afghanistan,AFG,74.750,99.169998,58.067580,11.792727,-314602.0,0.1,638.0,64.8,...,65.929134,43.448181,0.945227,27.710843,8.0,9.0,NaN,91.89,55.595550,0.509
1,Angola,AGO,35.161,103.419998,45.237371,3.930376,32066.0,1.9,241.0,80.6,...,44.686107,10.799292,2.507985,30.454545,36.0,36.0,NaN,55.50,23.916555,0.582
2,Albania,ALB,40.617,103.980003,42.670839,22.149635,-69998.0,0.1,15.0,9.4,...,125.710352,443.020376,1.108696,27.857143,5.0,5.0,16.0,149.54,104.870693,0.792
3,Andorra,AND,11.850,NaN,40.042553,1.744681,NaN,NaN,NaN,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
4,United Arab Emirates,ARE,13.752,104.180000,5.404112,0.626584,200000.0,0.1,3.0,7.2,...,208.978600,1285.099111,NaN,22.500000,8.0,9.0,63.0,2899.67,133.584990,0.889

### Checking Null Values

In [3]:
df.isnull().sum()

Country Name                    0
Country Code                    0
rural_pop_percent_17            1
food_production_index_17        2
ag_land_area_17                 1
arable_land_percent_2017        2
net_migration_2017              6
hiv_prevalence_2017            55
mat_mortality_ratio_2017        7
under5_mortality_ratio_2017     2
tubercul_incidence_2017         1
elec_access_2017                1
ren_energy_percent_2017         0
co2_emissions_2017              2
pop_air_pollution_2017          4
foreign_dir_inv_2017            4
atm_access_2017                17
adol_fertility_rate_2017        6
fem_labor_part_rate_2017       11
male_labor_part_rate_2017      11
fertility_rate_2017             5
dpt_immuniz_rate_2017           2
undernourished_rate_2017       33
cell_subscriptions_per100       1
internet_per_mil_2017           0
military_exp_2017              37
women_seats_percent_2017        5
male_bus_start_2017             4
female_bus_start_2017           4
patent_apps_2017               72
sci_articles_2017               1
pop_density_2017                0
HDI                             0
dtype: int64

## Data Cleaning

#### 1. Rural Population %

In [4]:
df['rural_pop_percent_17'].describe()

count    186.000000
mean      41.836919
std       23.193779
min        0.000000
25%       22.436000
50%       41.837500
75%       60.423250
max       87.294000
Name: rural_pop_percent_17, dtype: float64

In [5]:
df[df['rural_pop_percent_17'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
50,Eritrea,ERI,NaN,101.370003,75.168317,6.831683,-199290.0,0.6,480.0,43.3,...,20.363955,0.0,NaN,22.0,84.0,84.0,NaN,13.65,33.79103,0.456

Eritrea is the only country where data is unavailable. Based on geographic peers and our own estimations, we are going to assign Eritrea a value in line with the 75% value.

In [6]:
df.loc[df['Country Name'] == 'Eritrea', ['rural_pop_percent_17']] = df['rural_pop_percent_17'].quantile(0.75)

#### 2. Food Production Index

In [7]:
df['food_production_index_17'].describe()

count    185.000000
mean     103.801459
std        8.490092
min       79.320000
25%       99.000000
50%      102.830002
75%      107.400002
max      139.860001
Name: food_production_index_17, dtype: float64

In [8]:
df[df['food_production_index_17'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,NaN,40.042553,1.744681,NaN,NaN,NaN,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
135,Palau,PLW,20.635,NaN,9.347826,0.652174,NaN,NaN,NaN,18.6,...,NaN,224.605537,NaN,12.500000,28.0,28.0,NaN,5.96,38.715217,0.822

Palau and Andorra are the countries where data is unavailable. Based on geographic peers and our own estimations, we are going to assign both countries the median value of the metric as we do not believe that either countries will have a particularly extreme value

In [9]:
df.loc[df['Country Name'] == 'Andorra', ['food_production_index_17']] = df['food_production_index_17'].median()
df.loc[df['Country Name'] == 'Palau', ['food_production_index_17']] = df['food_production_index_17'].median()

#### 3. Agricultural Land Area %

In [10]:
df['ag_land_area_17'].describe()

count    186.000000
mean      38.996556
std       21.473358
min        0.538462
25%       22.643333
50%       39.969657
75%       54.616763
max       80.769413
Name: ag_land_area_17, dtype: float64

In [11]:
df[df['ag_land_area_17'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
140,West Bank and Gaza,PSE,24.106,105.870003,NaN,NaN,-52816.0,NaN,27.0,18.1,...,84.179796,547.723189,NaN,NaN,43.0,44.0,NaN,324.96,740.000831,0.708

West Bank and Gaza is the only country where data is unavailable. Based on our own estimations, we are going to assign West Bank and Gaza a value in line with the 25% value.

In [12]:
df.loc[df['Country Name'] == 'West Bank and Gaza', ['ag_land_area_17']] = df['ag_land_area_17'].quantile(0.25)

#### 4. Arable Land Area %

In [13]:
df['arable_land_percent_2017'].describe()

count    185.000000
mean      14.672965
std       13.633534
min        0.086281
25%        4.129606
50%       10.985332
75%       21.929825
max       59.593839
Name: arable_land_percent_2017, dtype: float64

In [14]:
df[df['arable_land_percent_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
140,West Bank and Gaza,PSE,24.106,105.870003,22.643333,NaN,-52816.0,NaN,27.0,18.1,...,84.179796,547.723189,NaN,NaN,43.0,44.0,NaN,324.96,740.000831,0.708
153,South Sudan,SSD,80.654,102.809998,45.151463,NaN,-870998.0,2.2,1150.0,97.9,...,25.561301,0.183305,2.354538,28.45953,13.0,13.0,NaN,6.40,17.265411,0.429

West Bank and Gaza and South Sudan are the only countries where data is unavailable. Based on our own estimations, we are going to assign West Bank and Gaza a value in line with the 25% value; while South Sudan will be assigned a value in line with the median value

In [15]:
df.loc[df['Country Name'] == 'West Bank and Gaza', ['arable_land_percent_2017']] = df['arable_land_percent_2017'].quantile(0.25)
df.loc[df['Country Name'] == 'South Sudan', ['arable_land_percent_2017']] = df['arable_land_percent_2017'].median()

#### 5. Net Migration

In [16]:
df['net_migration_2017'].describe()

count    1.810000e+02
mean     4.013564e+03
std      6.483328e+05
min     -3.266243e+06
25%     -5.665800e+04
50%     -4.999000e+03
75%      5.600000e+04
max      4.774029e+06
Name: net_migration_2017, dtype: float64

In [17]:
df[df['net_migration_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,NaN,NaN,NaN,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
45,Dominica,DMA,29.819,99.660004,33.333333,8.000000,NaN,NaN,NaN,33.5,...,105.278625,6968.933669,NaN,25.000000,12.0,12.0,NaN,12.50,95.280000,0.738
91,St. Kitts and Nevis,KNA,69.227,94.040001,23.076923,19.230769,NaN,NaN,NaN,16.2,...,147.714478,3113.229303,NaN,13.333333,18.5,18.5,NaN,28.32,200.138462,0.773
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,NaN,NaN,NaN,NaN,...,122.756614,23912.180928,NaN,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
110,Marshall Islands,MHL,23.366,126.669998,47.777778,11.111111,NaN,NaN,NaN,33.5,...,27.558648,103.353832,NaN,9.090909,17.0,17.0,NaN,0.72,322.516667,0.702
135,Palau,PLW,20.635,102.830002,9.347826,0.652174,NaN,NaN,NaN,18.6,...,NaN,224.605537,NaN,12.500000,28.0,28.0,NaN,5.96,38.715217,0.822

Andorra, Dominica, St Kitts and Nevis, Liechtenstein, Marshall Islands and Palau are the countries where data is unavailable. Based on our own estimations, we are going to assign al countries a value in line with the median value. We do not see any reason why any of the countries would be seeing higher or lower than expected net migration.

In [18]:
df.loc[df['Country Name'] == 'Andorra', ['net_migration_2017']] = df['net_migration_2017'].median()
df.loc[df['Country Name'] == 'Dominica', ['net_migration_2017']] = df['net_migration_2017'].median()
df.loc[df['Country Name'] == 'St. Kitts and Nevis', ['net_migration_2017']] = df['net_migration_2017'].median()
df.loc[df['Country Name'] == 'Liechtenstein', ['net_migration_2017']] = df['net_migration_2017'].median()
df.loc[df['Country Name'] == 'Marshall Islands', ['net_migration_2017']] = df['net_migration_2017'].median()
df.loc[df['Country Name'] == 'Palau', ['net_migration_2017']] = df['net_migration_2017'].median()

#### 6. HIV Prevalence

In [19]:
df['hiv_prevalence_2017'].describe()

count    132.000000
mean       1.935606
std        4.489515
min        0.100000
25%        0.175000
50%        0.400000
75%        1.300000
max       28.500000
Name: hiv_prevalence_2017, dtype: float64

In [20]:
df[df['hiv_prevalence_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,-4999.0,NaN,NaN,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
7,Antigua and Barbuda,ATG,75.287,101.589996,20.454545,9.090909,0.0,NaN,42.0,7.1,...,192.819567,890.751899,NaN,11.111111,22.000,22.000,NaN,5.20,216.875000,0.772
9,Austria,AUT,41.906,98.519997,32.169413,16.104460,324998.0,NaN,5.0,3.6,...,123.119296,7431.714636,0.757321,34.426230,21.000,21.000,2073.0,12850.61,106.611318,0.921
12,Belgium,BEL,2.039,101.910004,43.824306,27.608983,240000.0,NaN,5.0,4.1,...,99.453035,8300.544045,0.883681,38.000000,4.500,4.500,1001.0,16278.27,375.665720,0.930
15,Bangladesh,BGD,64.142,107.860001,70.579473,59.593839,-1847503.0,NaN,173.0,34.2,...,94.526473,65.209460,1.240256,20.285714,19.500,19.500,61.0,2990.72,1226.745187,0.625
16,Bulgaria,BGR,25.331,106.230003,46.329403,32.139646,-24001.0,NaN,10.0,7.3,...,120.140447,32308.325656,1.226244,23.750000,23.000,23.000,202.0,2808.03,65.180057,0.813
17,Bahrain,BHR,10.814,122.360001,11.025641,2.051282,239000.0,NaN,14.0,7.3,...,158.256809,359.419227,4.338775,7.500000,8.000,9.000,8.0,259.34,1915.483333,0.852
19,Bosnia and Herzegovina,BIH,52.124,94.699997,43.515625,20.703125,-107926.0,NaN,10.0,6.1,...,102.642379,1499.015078,0.864183,21.428571,80.000,80.000,87.0,724.80,65.459648,0.777
24,Barbados,BRB,68.841,103.260002,23.255814,16.279070,-397.0,NaN,27.0,13.4,...,115.139118,768.615339,NaN,16.666667,16.000,16.000,NaN,48.84,665.648837,0.810
25,Brunei Darussalam,BRN,22.688,98.529999,2.732448,0.948767,0.0,NaN,31.0,11.0,...,128.331366,1620.802816,2.865170,9.090909,12.000,13.000,8.0,214.24,80.546679,0.836
29,Canada,CAN,18.650,108.199997,6.471855,4.295200,1210159.0,NaN,10.0,5.2,...,86.281493,26565.268316,1.351602,26.268657,1.500,1.500,4053.0,60214.84,4.076166,0.928
32,China,CHN,42.040,102.870003,56.079351,12.678503,-1741996.0,NaN,29.0,9.2,...,103.438421,207.649252,1.746455,24.247606,24.900,24.900,1245709.0,473438.51,148.144225,0.755
41,Cyprus,CYP,33.164,104.000000,13.140693,10.208874,25000.0,NaN,6.0,2.8,...,136.172298,17363.957328,1.583111,17.857143,6.000,6.000,8.0,1193.38,127.671537,0.885
42,Czech Republic,CZE,26.325,94.949997,45.602901,32.327419,110057.0,NaN,3.0,3.2,...,118.751232,25419.942049,0.956655,22.000000,24.500,24.500,794.0,16782.25,137.215879,0.898
45,Dominica,DMA,29.819,99.660004,33.333333,8.000000,-4999.0,NaN,NaN,33.5,...,105.278625,6968.933669,NaN,25.000000,12.000,12.000,NaN,12.50,95.280000,0.738
54,Finland,FIN,14.675,98.010002,7.469071,7.376941,70000.0,NaN,3.0,2.4,...,129.913229,22324.114495,1.353499,42.000000,17.000,17.000,1390.0,10768.81,18.123894,0.937
56,France,FRA,19.820,101.370003,52.410067,33.721361,182636.0,NaN,8.0,4.3,...,106.439435,14819.476129,1.908642,38.994801,3.500,3.500,14415.0,70100.94,122.211971,0.898
57,"Micronesia, Fed. Sts.",FSM,77.392,101.050003,31.428571,2.857143,-2999.0,NaN,88.0,27.0,...,20.737670,161.491463,NaN,0.000000,16.000,16.000,NaN,6.58,159.230000,0.618
59,United Kingdom,GBR,16.857,102.199997,72.195067,25.143138,1303250.0,NaN,7.0,4.4,...,118.540401,21195.885324,1.946325,32.000000,4.500,4.500,13301.0,99128.72,273.049473,0.928
67,Grenada,GRD,63.836,100.709999,23.529412,8.823529,-1000.0,NaN,25.0,16.6,...,102.077133,234.500424,NaN,33.333333,15.000,15.000,NaN,53.06,326.100000,0.773
70,"Hong Kong SAR, China",HKG,0.000,98.709999,4.857143,2.952381,146542.0,NaN,NaN,NaN,...,251.765006,10482.740897,NaN,NaN,1.500,1.500,324.0,NaN,7041.142857,0.946
74,Hungary,HUN,28.938,98.500000,58.108700,47.370151,29999.0,NaN,12.0,4.4,...,102.211900,13627.141737,1.026658,10.050251,7.000,7.000,496.0,6645.69,107.253627,0.850
76,India,IND,66.400,108.879997,60.431389,52.608814,-2663434.0,NaN,145.0,38.6,...,87.317737,123.099917,2.531463,11.808118,29.765,29.765,14961.0,121631.31,450.249321,0.642
79,Iraq,IRQ,29.722,79.320000,21.307080,11.517341,39171.0,NaN,79.0,27.9,...,88.983263,10.412010,3.862032,25.304878,26.000,27.000,613.0,2259.36,86.501652,0.671
81,Israel,ISR,7.664,101.349998,28.789279,17.883549,50002.0,NaN,3.0,3.8,...,127.852915,6967.624207,5.528741,27.500000,11.000,11.000,1436.0,12270.41,402.647874,0.916
90,Kiribati,KIR,46.738,101.050003,41.975309,2.469136,-3999.0,NaN,92.0,54.5,...,40.402775,26.280518,NaN,6.521739,31.000,31.000,NaN,2.54,140.929630,0.628
91,St. Kitts and Nevis,KNA,69.227,94.040001,23.076923,19.230769,-4999.0,NaN,NaN,16.2,...,147.714478,3113.229303,NaN,13.333333,18.500,18.500,NaN,28.32,200.138462,0.773
92,"Korea, Rep.",KOR,18.497,97.370003,17.195159,14.323659,58657.0,NaN,11.0,3.3,...,124.585429,1198.942929,2.421489,17.000000,8.000,8.000,159084.0,63979.21,526.734807,0.914
93,Kuwait,KWT,0.000,108.870003,8.496072,0.482604,197600.0,NaN,12.0,8.7,...,176.002435,484.208730,5.607461,3.076923,38.000,39.000,NaN,861.13,227.615152,0.807
98,St. Lucia,LCA,81.388,102.389999,17.377049,4.918033,0.0,NaN,117.0,23.0,...,97.645811,193.418253,NaN,16.666667,11.000,11.000,3.0,2.43,296.647541,0.758
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,-4999.0,NaN,NaN,NaN,...,122.756614,23912.180928,NaN,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
102,Lithuania,LTU,32.484,100.730003,46.859086,33.583436,-163902.0,NaN,8.0,4.4,...,153.275727,13058.252307,1.712070,21.276596,5.500,5.500,81.0,2404.65,45.152584,0.876
103,Luxembourg,LUX,9.273,104.660004,53.974486,25.530041,48704.0,NaN,5.0,2.8,...,134.142015,43014.340908,0.581000,28.333333,16.500,16.500,156.0,814.16,245.405761,0.913
104,Latvia,LVA,31.925,106.110001,31.122203,20.769602,-74186.0,NaN,19.0,4.4,...,126.294182,11948.010759,1.594822,16.000000,5.500,5.500,90.0,1602.91,31.271100,0.863
108,Maldives,MDV,60.620,101.040001,26.333333,13.000000,56851.0,NaN,53.0,8.3,...,181.328842,421.033123,NaN,5.882353,12.000,12.000,NaN,7.06,1654.660000,0.734
110,Marshall Islands,MHL,23.366,126.669998,47.777778,11.111111,-4999.0,NaN,NaN,33.5,...,27.558648,103.353832,NaN,9.090909,17.000,17.000,NaN,0.72,322.516667,0.702
111,North Macedonia,MKD,42.252,83.620003,50.198255,16.534496,-4999.0,NaN,7.0,9.6,...,96.446295,499.879007,0.895041,37.500000,15.000,15.000,NaN,498.61,82.256225,0.770
113,Malta,MLT,5.454,95.379997,32.437500,28.343750,4501.0,NaN,6.0,6.6,...,138.093955,14102.594236,0.490383,11.940299,16.000,16.000,5.0,395.95,1462.496875,0.894
114,Myanmar,MMR,69.678,103.230003,19.716448,16.945113,-816564.0,NaN,250.0,48.5,...,89.817158,9.909611,3.648932,10.161663,14.000,14.000,NaN,141.03,81.775948,0.579
127,Norway,NOR,18.129,101.349998,2.698023,2.195124,140000.0,NaN,2.0,2.5,...,107.993069,14572.572735,1.719497,41.420118,4.000,4.000,1152.0,11670.76,14.452578,0.956
130,Oman,OMN,16.440,125.150002,4.691179,0.223910,437000.0,NaN,19.0,11.2,...,148.821628,141.879661,9.635788,1.176471,4.000,5.000,4.0,785.83,15.075690,0.813
135,Palau,PLW,20.635,102.830002,9.347826,0.652174,-4999.0,NaN,NaN,18.6,...,NaN,224.605537,NaN,12.500000,28.000,28.000,NaN,5.96,38.715217,0.822
137,Poland,POL,39.895,106.430000,47.232111,35.621673,-146976.0,NaN,2.0,4.6,...,132.950267,6534.934485,1.894931,28.043478,37.000,37.000,3924.0,34675.67,124.023730,0.877
140,West Bank and Gaza,PSE,24.106,105.870003,22.643333,4.129606,-52816.0,NaN,27.0,18.1,...,84.179796,547.723189,NaN,NaN,43.000,44.000,NaN,324.96,740.000831,0.708
143,Russian Federation,RUS,25.708,107.400002,13.158436,7.428098,912279.0,NaN,17.0,6.9,...,156.187408,3541.097215,4.248996,15.777778,10.100,10.100,22777.0,70825.09,8.823221,0.823
149,Solomon Islands,SLB,76.714,101.519997,4.180064,0.714541,-7998.0,NaN,104.0,21.4,...,73.160765,61.317862,NaN,2.000000,9.000,9.000,NaN,10.50,22.723473,0.564
156,Slovak Republic,SVK,46.249,91.959999,39.080699,27.932612,7423.0,NaN,5.0,6.0,...,130.651315,6963.666929,1.106088,20.000000,26.500,26.500,183.0,5787.12,113.128785,0.858
158,Sweden,SWE,12.854,100.959999,7.416955,6.294960,200000.0,NaN,4.0,2.8,...,126.395199,13619.120399,1.023179,43.553009,7.000,7.000,1992.0,20768.71,24.692981,0.943
160,Seychelles,SYC,43.739,92.129997,3.369565,0.326087,-1000.0,NaN,53.0,14.7,...,173.496650,155191.302443,1.484521,21.212121,32.000,32.000,NaN,11.71,208.354348,0.790
166,Turkmenistan,TKM,48.847,96.129997,72.006469,4.128274,-25001.0,NaN,7.0,42.9,...,162.861103,4.515718,NaN,25.806452,NaN,NaN,NaN,7.93,12.252180,0.710
168,Tonga,TON,76.831,95.500000,48.611111,27.777778,-3999.0,NaN,52.0,12.1,...,105.823644,205.878316,NaN,7.692308,16.000,16.000,NaN,4.72,141.669444,0.723
171,Turkiye,TUR,25.356,107.139999,49.326300,25.983914,1419610.0,NaN,17.0,11.4,...,95.911705,3351.268413,2.050066,14.571949,10.000,10.000,8175.0,33836.33,105.396685,0.817
178,St. Vincent and the Grenadines,VCT,48.216,100.930000,17.948718,5.128205,-1000.0,NaN,68.0,15.6,...,105.478616,163.895617,NaN,13.043478,10.000,10.000,NaN,3.71,281.605128,0.736
181,Vanuatu,VUT,74.837,98.970001,15.340443,1.640689,600.0,NaN,72.0,26.9,...,79.862702,178.634601,NaN,0.000000,18.000,18.000,NaN,10.46,23.420755,0.603
182,Samoa,WSM,81.548,102.620003,26.749117,11.484099,-14013.0,NaN,43.0,18.1,...,63.583173,296.890836,NaN,10.000000,9.000,9.000,NaN,10.22,69.031095,0.709

The countries above are the countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with the median value.

In [21]:
df['hiv_prevalence_2017'].fillna(df['hiv_prevalence_2017'].median(), inplace=True)

#### 7. Maternal Mortality Rate

In [22]:
df['mat_mortality_ratio_2017'].describe()

count     180.000000
mean      158.272222
std       229.808733
min         2.000000
25%        12.000000
50%        52.500000
75%       188.250000
max      1150.000000
Name: mat_mortality_ratio_2017, dtype: float64

In [23]:
df[df['mat_mortality_ratio_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,-4999.0,0.4,NaN,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
45,Dominica,DMA,29.819,99.660004,33.333333,8.000000,-4999.0,0.4,NaN,33.5,...,105.278625,6968.933669,NaN,25.000000,12.0,12.0,NaN,12.50,95.280000,0.738
70,"Hong Kong SAR, China",HKG,0.000,98.709999,4.857143,2.952381,146542.0,0.4,NaN,NaN,...,251.765006,10482.740897,NaN,NaN,1.5,1.5,324.0,NaN,7041.142857,0.946
91,St. Kitts and Nevis,KNA,69.227,94.040001,23.076923,19.230769,-4999.0,0.4,NaN,16.2,...,147.714478,3113.229303,NaN,13.333333,18.5,18.5,NaN,28.32,200.138462,0.773
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,-4999.0,0.4,NaN,NaN,...,122.756614,23912.180928,NaN,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
110,Marshall Islands,MHL,23.366,126.669998,47.777778,11.111111,-4999.0,0.4,NaN,33.5,...,27.558648,103.353832,NaN,9.090909,17.0,17.0,NaN,0.72,322.516667,0.702
135,Palau,PLW,20.635,102.830002,9.347826,0.652174,-4999.0,0.4,NaN,18.6,...,NaN,224.605537,NaN,12.500000,28.0,28.0,NaN,5.96,38.715217,0.822

The countries above are the set of countries where data is unavailable. Based on our own estimations, we are going to assign Dominica, St Kitts and Nevis, Marshall Islands and Palau values in line with the median value; while Andorra, Hong Kong and Liechtenstein will be assigned a values in line with the 25% value.

In [24]:
df['mat_mortality_ratio_2017'].fillna(df['mat_mortality_ratio_2017'].median(), inplace=True)
df.loc[df['Country Name'] == 'Andorra', ['mat_mortality_ratio_2017']] = df['mat_mortality_ratio_2017'].quantile(0.25)
df.loc[df['Country Name'] == 'Hong Kong SAR, China', ['mat_mortality_ratio_2017']] = df['mat_mortality_ratio_2017'].quantile(0.25)
df.loc[df['Country Name'] == 'Liechtenstein', ['mat_mortality_ratio_2017']] = df['mat_mortality_ratio_2017'].quantile(0.25)

#### 8. Mortality Rate for Under 5 year olds

In [25]:
df['under5_mortality_ratio_2017'].describe()

count    185.000000
mean      29.263243
std       29.366660
min        2.100000
25%        7.200000
50%       16.800000
75%       45.900000
max      122.500000
Name: under5_mortality_ratio_2017, dtype: float64

In [26]:
df[df['under5_mortality_ratio_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
70,"Hong Kong SAR, China",HKG,0.000,98.709999,4.857143,2.952381,146542.0,0.4,13.250,NaN,...,251.765006,10482.740897,NaN,NaN,1.5,1.5,324.0,NaN,7041.142857,0.946
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,NaN,...,122.756614,23912.180928,NaN,12.0,NaN,NaN,NaN,33.89,236.281250,0.919

Hong Kong and Liechtenstein are the two countries where data is unavailable. Based on our own estimations, we are going to assign both countries a value in line with the 25th percentile value.

In [27]:
df.loc[df['Country Name'] == 'Hong Kong SAR, China', ['under5_mortality_ratio_2017']] = df['under5_mortality_ratio_2017'].quantile(0.25)
df.loc[df['Country Name'] == 'Liechtenstein', ['under5_mortality_ratio_2017']] = df['under5_mortality_ratio_2017'].quantile(0.25)

#### 9. Incidence of Tuberculosis

In [28]:
df['tubercul_incidence_2017'].describe()

count    186.000000
mean     112.058387
std      147.450609
min        0.000000
25%       12.000000
50%       46.500000
75%      156.000000
max      738.000000
Name: tubercul_incidence_2017, dtype: float64

In [29]:
df[df['tubercul_incidence_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
99,Liechtenstein,LIE,85.685,99.01,32.25,13.5,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,NaN,12.0,NaN,NaN,NaN,33.89,236.28125,0.919

Liechtenstein is the countries where data is unavailable. Based on our own estimations, we are going to assign Liechtenstein a value in line with the 25th percentile value.

In [30]:
df.loc[df['Country Name'] == 'Liechtenstein', ['tubercul_incidence_2017']] = df['tubercul_incidence_2017'].quantile(0.25)

#### 9. Access to Electricity

In [31]:
df['elec_access_2017'].describe()

count    186.000000
mean      41.836919
std       23.193779
min        0.000000
25%       22.436000
50%       41.837500
75%       60.423250
max       87.294000
Name: elec_access_2017, dtype: float64

In [32]:
df[df['elec_access_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
50,Eritrea,ERI,60.42325,101.370003,75.168317,6.831683,-199290.0,0.6,480.0,43.3,...,20.363955,0.0,NaN,22.0,84.0,84.0,NaN,13.65,33.79103,0.456

Eritrea is the only country where data is unavailable. Based on geographic peers and our own estimations, we are going to assign Eritrea a value in line with the 25% value.

In [33]:
df.loc[df['Country Name'] == 'Eritrea', ['elec_access_2017']] = df['elec_access_2017'].quantile(0.25)

#### 11. Carbon Dioxide Emissions

In [34]:
df['co2_emissions_2017'].describe()

count    185.000000
mean       4.264187
std        4.920289
min        0.035013
25%        0.791246
50%        2.620384
75%        5.921351
max       32.127990
Name: co2_emissions_2017, dtype: float64

In [35]:
df[df['co2_emissions_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
70,"Hong Kong SAR, China",HKG,0.000,98.709999,4.857143,2.952381,146542.0,0.4,13.25,7.2,...,251.765006,10482.740897,NaN,NaN,1.5,1.5,324.0,NaN,7041.142857,0.946
140,West Bank and Gaza,PSE,24.106,105.870003,22.643333,4.129606,-52816.0,0.4,27.00,18.1,...,84.179796,547.723189,NaN,NaN,43.0,44.0,NaN,324.96,740.000831,0.708

Hong Kong and West Bank and Gaza are the two countries where data is unavailable. Based on our own estimations, we are going to assign both countries a value in line with the 75th percentile value.

In [36]:
df.loc[df['Country Name'] == 'Hong Kong SAR, China', ['co2_emissions_2017']] = df['co2_emissions_2017'].quantile(0.75)
df.loc[df['Country Name'] == 'West Bank and Gaza', ['co2_emissions_2017']] = df['co2_emissions_2017'].quantile(0.75)

#### 12. Air Polution

In [37]:
df['pop_air_pollution_2017'].describe()

count    183.000000
mean      27.281160
std       18.581114
min        5.861331
25%       14.183685
50%       21.767721
75%       35.644394
max       99.734374
Name: pop_air_pollution_2017, dtype: float64

In [38]:
df[df['pop_air_pollution_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
70,"Hong Kong SAR, China",HKG,0.000,98.709999,4.857143,2.952381,146542.0,0.4,13.250,7.2,...,251.765006,10482.740897,NaN,NaN,1.5,1.5,324.0,NaN,7041.142857,0.946
91,St. Kitts and Nevis,KNA,69.227,94.040001,23.076923,19.230769,-4999.0,0.4,52.500,16.2,...,147.714478,3113.229303,NaN,13.333333,18.5,18.5,NaN,28.32,200.138462,0.773
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,NaN,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
135,Palau,PLW,20.635,102.830002,9.347826,0.652174,-4999.0,0.4,52.500,18.6,...,NaN,224.605537,NaN,12.500000,28.0,28.0,NaN,5.96,38.715217,0.822

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with the 25th percentile value.

In [39]:
df['pop_air_pollution_2017'].fillna(df['pop_air_pollution_2017'].quantile(.25), inplace=True)

#### 13. Foreign Direct Investment

In [40]:
df['foreign_dir_inv_2017'].describe()

count    1.830000e+02
mean     1.171300e+10
std      4.004695e+10
min     -3.728884e+10
25%      1.641025e+08
50%      9.983445e+08
75%      4.321268e+09
max      3.808230e+11
Name: foreign_dir_inv_2017, dtype: float64

In [41]:
df[df['foreign_dir_inv_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,-4999.0,0.4,13.5,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
40,Cuba,CUB,23.023,103.900002,60.693642,28.021195,-72000.0,0.4,36.0,5.4,...,40.688585,8.466165,2.872403,48.856209,NaN,NaN,29.0,1117.60,109.241378,0.781
57,"Micronesia, Fed. Sts.",FSM,77.392,101.050003,31.428571,2.857143,-2999.0,0.4,88.0,27.0,...,20.737670,161.491463,NaN,0.000000,16.0,16.0,NaN,6.58,159.230000,0.618
161,Syrian Arab Republic,SYR,46.500,107.620003,75.810053,25.388008,-2136954.0,0.1,31.0,23.5,...,89.999355,13.278217,NaN,13.200000,15.0,16.0,120.0,263.85,93.098453,0.563

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with the 25th percentile value.

In [42]:
df['foreign_dir_inv_2017'].fillna(df['foreign_dir_inv_2017'].quantile(.25), inplace=True)

#### 14. ATM Access

In [43]:
df['atm_access_2017'].describe()

count    170.000000
mean      49.053235
std       44.216273
min        0.510000
25%       12.017500
50%       39.555000
75%       67.512500
max      272.590000
Name: atm_access_2017, dtype: float64

In [44]:
df[df['atm_access_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.85000,102.830002,40.042553,1.744681,-4999.0,0.4,13.500,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
11,Burundi,BDI,87.29400,111.919998,79.166667,46.728972,10003.0,1.2,548.000,61.5,...,54.683676,4.618080,1.870652,36.363636,4.0,4.0,3.0,13.19,421.612539,0.431
17,Bahrain,BHR,10.81400,122.360001,11.025641,2.051282,239000.0,0.4,14.000,7.3,...,158.256809,359.419227,4.338775,7.500000,8.0,9.0,8.0,259.34,1915.483333,0.852
40,Cuba,CUB,23.02300,103.900002,60.693642,28.021195,-72000.0,0.4,36.000,5.4,...,40.688585,8.466165,2.872403,48.856209,NaN,NaN,29.0,1117.60,109.241378,0.781
50,Eritrea,ERI,60.42325,101.370003,75.168317,6.831683,-199290.0,0.6,480.000,43.3,...,20.363955,0.000000,NaN,22.000000,84.0,84.0,NaN,13.65,33.791030,0.456
53,Ethiopia,ETH,79.69000,105.970001,33.242509,14.141046,150002.0,1.0,401.000,55.9,...,37.218072,0.714286,0.666369,38.756856,33.0,33.0,14.0,1657.99,94.219260,0.478
58,Gabon,GAB,11.02400,103.809998,8.541002,1.261303,16301.0,3.4,252.000,45.5,...,128.981661,28.089724,1.810490,17.094017,33.0,33.0,NaN,62.92,8.013397,0.697
90,Kiribati,KIR,46.73800,101.050003,41.975309,2.469136,-3999.0,0.4,92.000,54.5,...,40.402775,26.280518,NaN,6.521739,31.0,31.0,NaN,2.54,140.929630,0.628
99,Liechtenstein,LIE,85.68500,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,NaN,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
100,Sri Lanka,LKA,81.61600,83.180000,44.596319,21.330360,-489932.0,0.1,36.000,7.8,...,133.467627,305.213580,2.119697,5.777778,9.0,9.0,277.0,1181.27,346.468906,0.779
150,Sierra Leone,SLE,58.36400,98.930000,54.710446,21.945137,-21000.0,1.6,1120.000,120.7,...,88.469895,1.869552,1.093817,12.396694,8.0,8.0,NaN,42.80,103.746564,0.447
161,Syrian Arab Republic,SYR,46.50000,107.620003,75.810053,25.388008,-2136954.0,0.1,31.000,23.5,...,89.999355,13.278217,NaN,13.200000,15.0,16.0,120.0,263.85,93.098453,0.563
166,Turkmenistan,TKM,48.84700,96.129997,72.006469,4.128274,-25001.0,0.4,7.000,42.9,...,162.861103,4.515718,NaN,25.806452,NaN,NaN,NaN,7.93,12.252180,0.710
172,Tanzania,TZA,66.94700,96.970001,44.761797,15.240461,-200381.0,5.0,524.000,54.1,...,73.094790,22.703845,1.055796,37.179487,29.0,29.0,NaN,610.37,61.707321,0.524
176,United States,USA,17.94200,101.949997,44.363367,17.243857,4774029.0,0.4,19.000,6.6,...,123.044834,30338.033467,3.313381,19.354839,5.6,5.6,293904.0,432216.49,35.542495,0.925
179,"Venezuela, RB",VEN,11.81700,89.089996,24.375035,2.947679,-3266243.0,0.6,125.000,24.2,...,83.304822,293.376613,2.233332,22.155689,230.0,230.0,96.0,840.01,33.334255,0.733
183,"Yemen, Rep.",YEM,63.98400,91.220001,44.297403,2.079095,-150000.0,0.1,164.000,60.2,...,55.175024,3.377066,NaN,0.000000,40.0,41.0,15.0,126.37,52.720441,0.468

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with the 25th percentile value. However, the following countries will have values in line with the 75% value: Andorra, Liechtenstein and the United States.

In [45]:
df['atm_access_2017'].fillna(df['atm_access_2017'].quantile(.25), inplace=True)
df.loc[df['Country Name'] == 'Andorra', ['atm_access_2017']] = df['atm_access_2017'].quantile(0.75)
df.loc[df['Country Name'] == 'Liechtenstein', ['atm_access_2017']] = df['atm_access_2017'].quantile(0.75)
df.loc[df['Country Name'] == 'United States', ['atm_access_2017']] = df['atm_access_2017'].quantile(0.75)

#### 15. Adolescent Fertility Rate

In [46]:
df['adol_fertility_rate_2017'].describe()

count    181.000000
mean      48.117586
std       40.590363
min        1.379000
25%       13.177000
50%       39.860000
75%       69.459000
max      186.538000
Name: adol_fertility_rate_2017, dtype: float64

In [47]:
df[df['adol_fertility_rate_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,-4999.0,0.4,13.500,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
45,Dominica,DMA,29.819,99.660004,33.333333,8.000000,-4999.0,0.4,52.500,33.5,...,105.278625,6968.933669,NaN,25.000000,12.0,12.0,NaN,12.50,95.280000,0.738
91,St. Kitts and Nevis,KNA,69.227,94.040001,23.076923,19.230769,-4999.0,0.4,52.500,16.2,...,147.714478,3113.229303,NaN,13.333333,18.5,18.5,NaN,28.32,200.138462,0.773
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,NaN,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
110,Marshall Islands,MHL,23.366,126.669998,47.777778,11.111111,-4999.0,0.4,52.500,33.5,...,27.558648,103.353832,NaN,9.090909,17.0,17.0,NaN,0.72,322.516667,0.702
135,Palau,PLW,20.635,102.830002,9.347826,0.652174,-4999.0,0.4,52.500,18.6,...,NaN,224.605537,NaN,12.500000,28.0,28.0,NaN,5.96,38.715217,0.822

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with median. However, the following countries will have values in line with the 25% value: Andorra and Liechtenstein

In [48]:
df['adol_fertility_rate_2017'].fillna(df['adol_fertility_rate_2017'].median(), inplace=True)
df.loc[df['Country Name'] == 'Andorra', ['adol_fertility_rate_2017']] = df['adol_fertility_rate_2017'].quantile(0.25)
df.loc[df['Country Name'] == 'Liechtenstein', ['adol_fertility_rate_2017']] = df['adol_fertility_rate_2017'].quantile(0.25)

#### 16. Female Labor Participation

In [49]:
df['fem_labor_part_rate_2017'].describe()

count    176.000000
mean      51.506790
std       15.547539
min        6.095000
25%       44.714500
50%       52.663500
75%       60.628500
max       83.930000
Name: fem_labor_part_rate_2017, dtype: float64

In [50]:
df[df['fem_labor_part_rate_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,-4999.0,0.4,13.500,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
7,Antigua and Barbuda,ATG,75.287,101.589996,20.454545,9.090909,0.0,0.4,42.000,7.1,...,192.819567,890.751899,NaN,11.111111,22.0,22.0,NaN,5.20,216.875000,0.772
45,Dominica,DMA,29.819,99.660004,33.333333,8.000000,-4999.0,0.4,52.500,33.5,...,105.278625,6968.933669,NaN,25.000000,12.0,12.0,NaN,12.50,95.280000,0.738
57,"Micronesia, Fed. Sts.",FSM,77.392,101.050003,31.428571,2.857143,-2999.0,0.4,88.000,27.0,...,20.737670,161.491463,NaN,0.000000,16.0,16.0,NaN,6.58,159.230000,0.618
67,Grenada,GRD,63.836,100.709999,23.529412,8.823529,-1000.0,0.4,25.000,16.6,...,102.077133,234.500424,NaN,33.333333,15.0,15.0,NaN,53.06,326.100000,0.773
90,Kiribati,KIR,46.738,101.050003,41.975309,2.469136,-3999.0,0.4,92.000,54.5,...,40.402775,26.280518,NaN,6.521739,31.0,31.0,NaN,2.54,140.929630,0.628
91,St. Kitts and Nevis,KNA,69.227,94.040001,23.076923,19.230769,-4999.0,0.4,52.500,16.2,...,147.714478,3113.229303,NaN,13.333333,18.5,18.5,NaN,28.32,200.138462,0.773
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,NaN,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
110,Marshall Islands,MHL,23.366,126.669998,47.777778,11.111111,-4999.0,0.4,52.500,33.5,...,27.558648,103.353832,NaN,9.090909,17.0,17.0,NaN,0.72,322.516667,0.702
135,Palau,PLW,20.635,102.830002,9.347826,0.652174,-4999.0,0.4,52.500,18.6,...,NaN,224.605537,NaN,12.500000,28.0,28.0,NaN,5.96,38.715217,0.822
160,Seychelles,SYC,43.739,92.129997,3.369565,0.326087,-1000.0,0.4,53.000,14.7,...,173.496650,155191.302443,1.484521,21.212121,32.0,32.0,NaN,11.71,208.354348,0.790

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with median.

In [51]:
df['fem_labor_part_rate_2017'].fillna(df['fem_labor_part_rate_2017'].median(), inplace=True)

#### 17. Male Labor Participation

In [52]:
df['male_labor_part_rate_2017'].describe()

count    176.000000
mean      71.394449
std        9.121060
min       45.301998
25%       65.920498
50%       71.307499
75%       77.194248
max       95.829002
Name: male_labor_part_rate_2017, dtype: float64

In [53]:
df[df['male_labor_part_rate_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,-4999.0,0.4,13.500,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
7,Antigua and Barbuda,ATG,75.287,101.589996,20.454545,9.090909,0.0,0.4,42.000,7.1,...,192.819567,890.751899,NaN,11.111111,22.0,22.0,NaN,5.20,216.875000,0.772
45,Dominica,DMA,29.819,99.660004,33.333333,8.000000,-4999.0,0.4,52.500,33.5,...,105.278625,6968.933669,NaN,25.000000,12.0,12.0,NaN,12.50,95.280000,0.738
57,"Micronesia, Fed. Sts.",FSM,77.392,101.050003,31.428571,2.857143,-2999.0,0.4,88.000,27.0,...,20.737670,161.491463,NaN,0.000000,16.0,16.0,NaN,6.58,159.230000,0.618
67,Grenada,GRD,63.836,100.709999,23.529412,8.823529,-1000.0,0.4,25.000,16.6,...,102.077133,234.500424,NaN,33.333333,15.0,15.0,NaN,53.06,326.100000,0.773
90,Kiribati,KIR,46.738,101.050003,41.975309,2.469136,-3999.0,0.4,92.000,54.5,...,40.402775,26.280518,NaN,6.521739,31.0,31.0,NaN,2.54,140.929630,0.628
91,St. Kitts and Nevis,KNA,69.227,94.040001,23.076923,19.230769,-4999.0,0.4,52.500,16.2,...,147.714478,3113.229303,NaN,13.333333,18.5,18.5,NaN,28.32,200.138462,0.773
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,NaN,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
110,Marshall Islands,MHL,23.366,126.669998,47.777778,11.111111,-4999.0,0.4,52.500,33.5,...,27.558648,103.353832,NaN,9.090909,17.0,17.0,NaN,0.72,322.516667,0.702
135,Palau,PLW,20.635,102.830002,9.347826,0.652174,-4999.0,0.4,52.500,18.6,...,NaN,224.605537,NaN,12.500000,28.0,28.0,NaN,5.96,38.715217,0.822
160,Seychelles,SYC,43.739,92.129997,3.369565,0.326087,-1000.0,0.4,53.000,14.7,...,173.496650,155191.302443,1.484521,21.212121,32.0,32.0,NaN,11.71,208.354348,0.790

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with median.

In [54]:
df['male_labor_part_rate_2017'].fillna(df['male_labor_part_rate_2017'].median(), inplace=True)

#### 18. Fertility Rate

In [55]:
df['fertility_rate_2017'].describe()

count    182.000000
mean       2.727431
std        1.293386
min        1.052000
25%        1.695000
50%        2.276000
75%        3.682750
max        7.001000
Name: fertility_rate_2017, dtype: float64

In [56]:
df[df['fertility_rate_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,-4999.0,0.4,13.5,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
45,Dominica,DMA,29.819,99.660004,33.333333,8.000000,-4999.0,0.4,52.5,33.5,...,105.278625,6968.933669,NaN,25.000000,12.0,12.0,NaN,12.50,95.280000,0.738
91,St. Kitts and Nevis,KNA,69.227,94.040001,23.076923,19.230769,-4999.0,0.4,52.5,16.2,...,147.714478,3113.229303,NaN,13.333333,18.5,18.5,NaN,28.32,200.138462,0.773
110,Marshall Islands,MHL,23.366,126.669998,47.777778,11.111111,-4999.0,0.4,52.5,33.5,...,27.558648,103.353832,NaN,9.090909,17.0,17.0,NaN,0.72,322.516667,0.702
135,Palau,PLW,20.635,102.830002,9.347826,0.652174,-4999.0,0.4,52.5,18.6,...,NaN,224.605537,NaN,12.500000,28.0,28.0,NaN,5.96,38.715217,0.822

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with median.

In [57]:
df['fertility_rate_2017'].fillna(df['fertility_rate_2017'].median(), inplace=True)

#### 19. Diphtheria, Tetanus, and Pertussis (DPT) Immunization Rate

In [58]:
df['dpt_immuniz_rate_2017'].describe()

count    185.000000
mean      88.000000
std       13.035904
min       36.000000
25%       84.000000
50%       92.000000
75%       97.000000
max       99.000000
Name: dpt_immuniz_rate_2017, dtype: float64

In [59]:
df[df['dpt_immuniz_rate_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
70,"Hong Kong SAR, China",HKG,0.000,98.709999,4.857143,2.952381,146542.0,0.4,13.250,7.2,...,251.765006,10482.740897,NaN,NaN,1.5,1.5,324.0,NaN,7041.142857,0.946
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,NaN,12.0,NaN,NaN,NaN,33.89,236.281250,0.919

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with the 75% value.

In [60]:
df['dpt_immuniz_rate_2017'].fillna(df['dpt_immuniz_rate_2017'].quantile(0.75), inplace=True)

#### 20. Undernourishment Rate

In [61]:
df['undernourished_rate_2017'].describe()

count    154.000000
mean       9.501299
std       10.354520
min        2.500000
25%        2.500000
50%        5.600000
75%       11.875000
max       48.000000
Name: undernourished_rate_2017, dtype: float64

In [62]:
df[df['undernourished_rate_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.85000,102.830002,40.042553,1.744681,-4999.0,0.4,13.500,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
7,Antigua and Barbuda,ATG,75.28700,101.589996,20.454545,9.090909,0.0,0.4,42.000,7.1,...,192.819567,890.751899,NaN,11.111111,22.0,22.0,NaN,5.20,216.875000,0.772
11,Burundi,BDI,87.29400,111.919998,79.166667,46.728972,10003.0,1.2,548.000,61.5,...,54.683676,4.618080,1.870652,36.363636,4.0,4.0,3.0,13.19,421.612539,0.431
17,Bahrain,BHR,10.81400,122.360001,11.025641,2.051282,239000.0,0.4,14.000,7.3,...,158.256809,359.419227,4.338775,7.500000,8.0,9.0,8.0,259.34,1915.483333,0.852
18,"Bahamas, The",BHS,17.07500,100.320000,1.398601,0.799201,4999.0,1.3,70.000,13.3,...,92.609134,1508.844817,NaN,12.820513,21.5,21.5,4.0,20.40,38.136763,0.812
26,Bhutan,BTN,59.83300,105.489998,13.449035,2.477454,1600.0,0.2,183.000,30.7,...,97.996145,118.031608,NaN,8.510638,12.0,12.0,NaN,44.30,19.546010,0.649
38,Comoros,COM,71.21600,99.139999,70.392262,35.464804,-10000.0,0.1,273.000,67.9,...,57.613787,4.914669,NaN,6.060606,16.0,16.0,NaN,3.84,437.340140,0.552
50,Eritrea,ERI,60.42325,101.370003,75.168317,6.831683,-199290.0,0.6,480.000,43.3,...,20.363955,0.000000,NaN,22.000000,84.0,84.0,NaN,13.65,33.791030,0.456
57,"Micronesia, Fed. Sts.",FSM,77.39200,101.050003,31.428571,2.857143,-2999.0,0.4,88.000,27.0,...,20.737670,161.491463,NaN,0.000000,16.0,16.0,NaN,6.58,159.230000,0.618
62,Guinea,GIN,64.20700,110.610001,59.010256,12.615986,-20000.0,1.5,576.000,102.6,...,96.954478,1.574475,1.768123,21.929825,15.0,15.0,NaN,38.02,49.110842,0.473
64,Guinea-Bissau,GNB,57.05500,101.169998,28.686700,10.668563,-6996.0,3.4,667.000,85.5,...,78.485131,2.735011,1.424579,13.725490,8.0,9.0,NaN,16.33,65.012304,0.472
65,Equatorial Guinea,GNQ,28.35400,106.150002,10.124777,4.278075,79998.0,7.1,301.000,86.9,...,44.858328,0.000000,1.100369,NaN,33.0,33.0,NaN,3.33,44.991373,0.582
67,Grenada,GRD,63.83600,100.709999,23.529412,8.823529,-1000.0,0.4,25.000,16.6,...,102.077133,234.500424,NaN,33.333333,15.0,15.0,NaN,53.06,326.100000,0.773
91,St. Kitts and Nevis,KNA,69.22700,94.040001,23.076923,19.230769,-4999.0,0.4,52.500,16.2,...,147.714478,3113.229303,NaN,13.333333,18.5,18.5,NaN,28.32,200.138462,0.773
97,Libya,LBY,20.18300,99.959999,8.723871,0.977528,-9997.0,0.1,72.000,12.3,...,91.479296,938.194785,NaN,15.957447,35.0,35.0,NaN,172.36,3.740025,0.721
98,St. Lucia,LCA,81.38800,102.389999,17.377049,4.918033,0.0,0.4,117.000,23.0,...,97.645811,193.418253,NaN,16.666667,11.0,11.0,3.0,2.43,296.647541,0.758
99,Liechtenstein,LIE,85.68500,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,NaN,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
106,Moldova,MDA,57.44300,115.669998,70.456066,52.842809,-6935.0,0.7,19.000,15.3,...,92.289055,3655.325756,0.319319,22.772277,5.0,5.0,73.0,257.06,95.908309,0.746
108,Maldives,MDV,60.62000,101.040001,26.333333,13.000000,56851.0,0.4,53.000,8.3,...,181.328842,421.033123,NaN,5.882353,12.0,12.0,NaN,7.06,1654.660000,0.734
110,Marshall Islands,MHL,23.36600,126.669998,47.777778,11.111111,-4999.0,0.4,52.500,33.5,...,27.558648,103.353832,NaN,9.090909,17.0,17.0,NaN,0.72,322.516667,0.702
123,Niger,NER,83.65000,111.459999,36.788506,13.973316,20001.0,0.2,509.000,86.6,...,40.638500,0.462912,2.486946,16.959064,8.0,8.0,NaN,58.63,17.054068,0.391
135,Palau,PLW,20.63500,102.830002,9.347826,0.652174,-4999.0,0.4,52.500,18.6,...,NaN,224.605537,NaN,12.500000,28.0,28.0,NaN,5.96,38.715217,0.822
140,West Bank and Gaza,PSE,24.10600,105.870003,22.643333,4.129606,-52816.0,0.4,27.000,18.1,...,84.179796,547.723189,NaN,NaN,43.0,44.0,NaN,324.96,740.000831,0.708
141,Qatar,QAT,0.92200,111.370003,5.831158,1.218451,200000.0,0.1,9.000,7.0,...,146.383859,401.141105,NaN,9.756098,9.5,10.5,19.0,1385.20,237.138990,0.845
148,Singapore,SGP,0.00000,134.990005,0.930889,0.789845,135142.0,0.2,8.000,2.6,...,146.843725,58690.333454,2.984182,23.000000,2.5,2.5,1609.0,11840.57,7915.730606,0.936
153,South Sudan,SSD,80.65400,102.809998,45.151463,10.852482,-870998.0,2.2,1150.000,97.9,...,25.561301,0.183305,2.354538,28.459530,13.0,13.0,NaN,6.40,17.265411,0.429
160,Seychelles,SYC,43.73900,92.129997,3.369565,0.326087,-1000.0,0.4,53.000,14.7,...,173.496650,155191.302443,1.484521,21.212121,32.0,32.0,NaN,11.71,208.354348,0.790
161,Syrian Arab Republic,SYR,46.50000,107.620003,75.810053,25.388008,-2136954.0,0.1,31.000,23.5,...,89.999355,13.278217,NaN,13.200000,15.0,16.0,120.0,263.85,93.098453,0.563
165,Tajikistan,TJK,73.01800,139.860001,34.153037,5.166799,-99999.0,0.2,17.000,35.3,...,111.528166,20.044436,1.093906,19.047619,10.0,10.0,NaN,60.76,63.983500,0.661
168,Tonga,TON,76.83100,95.500000,48.611111,27.777778,-3999.0,0.4,52.000,12.1,...,105.823644,205.878316,NaN,7.692308,16.0,16.0,NaN,4.72,141.669444,0.723
173,Uganda,UGA,76.80400,97.790001,71.888091,34.410533,843469.0,6.0,375.000,49.9,...,60.604678,20.404897,1.096079,34.298441,24.0,24.0,25.0,637.56,205.299162,0.538
185,Zambia,ZMB,57.02400,124.970001,32.063923,5.111718,-40000.0,11.5,213.000,64.6,...,79.736910,42.364816,1.309596,17.964072,8.5,8.5,12.0,209.45,22.671287,0.582
186,Zimbabwe,ZWE,67.76300,111.699997,41.876696,10.339925,-584288.0,13.2,458.000,57.0,...,98.985073,30.555050,1.544948,32.575758,61.0,61.0,NaN,340.45,36.801342,0.569

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign the values to the countries laid out below:
- 25% Value:
    - Andorra
    - Liechtenstein
- 75% Value:
    - Zimbabwe
    - Zambia
    - Burundi
    - Eritrea
    - Guinea
    - Guinea-Bissau
    - South Sudan
    - Libya
- Median Value:
    - All Others

In [63]:
df['undernourished_rate_2017'].fillna(df['undernourished_rate_2017'].median(), inplace=True)
df.loc[df['Country Name'] == 'Andorra', ['undernourished_rate_2017']] = df['undernourished_rate_2017'].quantile(0.25)
df.loc[df['Country Name'] == 'Liechtenstein', ['undernourished_rate_2017']] = df['undernourished_rate_2017'].quantile(0.25)
df.loc[df['Country Name'] == 'Zimbabwe', ['undernourished_rate_2017']] = df['undernourished_rate_2017'].quantile(0.75)
df.loc[df['Country Name'] == 'Zambia', ['undernourished_rate_2017']] = df['undernourished_rate_2017'].quantile(0.75)
df.loc[df['Country Name'] == 'Burundi', ['undernourished_rate_2017']] = df['undernourished_rate_2017'].quantile(0.75)
df.loc[df['Country Name'] == 'Eritrea', ['undernourished_rate_2017']] = df['undernourished_rate_2017'].quantile(0.75)
df.loc[df['Country Name'] == 'Guinea', ['undernourished_rate_2017']] = df['undernourished_rate_2017'].quantile(0.75)
df.loc[df['Country Name'] == 'Guinea-Bissau', ['undernourished_rate_2017']] = df['undernourished_rate_2017'].quantile(0.75)
df.loc[df['Country Name'] == 'South Sudan', ['undernourished_rate_2017']] = df['undernourished_rate_2017'].quantile(0.75)
df.loc[df['Country Name'] == 'Libya', ['undernourished_rate_2017']] = df['undernourished_rate_2017'].quantile(0.75)

#### 21. Cell Subscription Rate

In [64]:
df['cell_subscriptions_per100'].describe()

count    186.000000
mean     107.016056
std       37.756422
min       20.363955
25%       84.448136
50%      109.761144
75%      129.679498
max      251.765006
Name: cell_subscriptions_per100, dtype: float64

In [65]:
df[df['cell_subscriptions_per100'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
135,Palau,PLW,20.635,102.830002,9.347826,0.652174,-4999.0,0.4,52.5,18.6,...,NaN,224.605537,NaN,12.5,28.0,28.0,NaN,5.96,38.715217,0.822

Palau is the only country where data is unavailable. Based on geographic peers and our own estimations, we are going to assign Palau a value in line with the 25% value.

In [66]:
df.loc[df['Country Name'] == 'Palau', ['cell_subscriptions_per100']] = df['cell_subscriptions_per100'].quantile(0.25)

#### 22. Military Expenditure as a % of GDP

In [67]:
df['military_exp_2017'].describe()

count    150.000000
mean       1.843933
std        1.476371
min        0.000000
25%        0.983364
50%        1.430273
75%        2.138151
max       10.223848
Name: military_exp_2017, dtype: float64

In [68]:
df[df['military_exp_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.85000,102.830002,40.042553,1.744681,-4999.0,0.4,13.500,3.0,...,104.332411,3415.717495,NaN,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
4,United Arab Emirates,ARE,13.75200,104.180000,5.404112,0.626584,200000.0,0.1,3.000,7.2,...,208.978600,1285.099111,NaN,22.500000,8.0,9.0,63.0,2899.67,133.584990,0.889
7,Antigua and Barbuda,ATG,75.28700,101.589996,20.454545,9.090909,0.0,0.4,42.000,7.1,...,192.819567,890.751899,NaN,11.111111,22.0,22.0,NaN,5.20,216.875000,0.772
18,"Bahamas, The",BHS,17.07500,100.320000,1.398601,0.799201,4999.0,1.3,70.000,13.3,...,92.609134,1508.844817,NaN,12.820513,21.5,21.5,4.0,20.40,38.136763,0.812
24,Barbados,BRB,68.84100,103.260002,23.255814,16.279070,-397.0,0.4,27.000,13.4,...,115.139118,768.615339,NaN,16.666667,16.0,16.0,NaN,48.84,665.648837,0.810
26,Bhutan,BTN,59.83300,105.489998,13.449035,2.477454,1600.0,0.2,183.000,30.7,...,97.996145,118.031608,NaN,8.510638,12.0,12.0,NaN,44.30,19.546010,0.649
38,Comoros,COM,71.21600,99.139999,70.392262,35.464804,-10000.0,0.1,273.000,67.9,...,57.613787,4.914669,NaN,6.060606,16.0,16.0,NaN,3.84,437.340140,0.552
44,Djibouti,DJI,22.35200,122.849998,73.425367,0.086281,4501.0,1.0,248.000,61.8,...,39.514076,22.243406,NaN,10.769231,14.0,14.0,NaN,5.13,40.729077,0.518
45,Dominica,DMA,29.81900,99.660004,33.333333,8.000000,-4999.0,0.4,52.500,33.5,...,105.278625,6968.933669,NaN,25.000000,12.0,12.0,NaN,12.50,95.280000,0.738
50,Eritrea,ERI,60.42325,101.370003,75.168317,6.831683,-199290.0,0.6,480.000,43.3,...,20.363955,0.000000,NaN,22.000000,84.0,84.0,NaN,13.65,33.791030,0.456
57,"Micronesia, Fed. Sts.",FSM,77.39200,101.050003,31.428571,2.857143,-2999.0,0.4,88.000,27.0,...,20.737670,161.491463,NaN,0.000000,16.0,16.0,NaN,6.58,159.230000,0.618
63,"Gambia, The",GMB,39.40100,95.349998,59.782609,43.478261,-15436.0,1.8,597.000,55.1,...,133.972390,47.879308,NaN,10.344828,25.0,25.0,NaN,47.17,218.764822,0.487
67,Grenada,GRD,63.83600,100.709999,23.529412,8.823529,-1000.0,0.4,25.000,16.6,...,102.077133,234.500424,NaN,33.333333,15.0,15.0,NaN,53.06,326.100000,0.773
70,"Hong Kong SAR, China",HKG,0.00000,98.709999,4.857143,2.952381,146542.0,0.4,13.250,7.2,...,251.765006,10482.740897,NaN,NaN,1.5,1.5,324.0,NaN,7041.142857,0.946
80,Iceland,ISL,6.22700,107.989998,18.673317,1.206983,1900.0,0.1,4.000,2.1,...,119.987859,57638.322656,NaN,38.095238,11.5,11.5,36.0,629.31,3.425436,0.946
90,Kiribati,KIR,46.73800,101.050003,41.975309,2.469136,-3999.0,0.4,92.000,54.5,...,40.402775,26.280518,NaN,6.521739,31.0,31.0,NaN,2.54,140.929630,0.628
91,St. Kitts and Nevis,KNA,69.22700,94.040001,23.076923,19.230769,-4999.0,0.4,52.500,16.2,...,147.714478,3113.229303,NaN,13.333333,18.5,18.5,NaN,28.32,200.138462,0.773
94,Lao PDR,LAO,65.63200,98.419998,10.589255,6.932409,-73518.0,0.3,185.000,49.4,...,53.384069,16.395727,NaN,27.516779,174.0,174.0,3.0,76.98,30.125784,0.609
97,Libya,LBY,20.18300,99.959999,8.723871,0.977528,-9997.0,0.1,72.000,12.3,...,91.479296,938.194785,NaN,15.957447,35.0,35.0,NaN,172.36,3.740025,0.721
98,St. Lucia,LCA,81.38800,102.389999,17.377049,4.918033,0.0,0.4,117.000,23.0,...,97.645811,193.418253,NaN,16.666667,11.0,11.0,3.0,2.43,296.647541,0.758
99,Liechtenstein,LIE,85.68500,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,NaN,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
108,Maldives,MDV,60.62000,101.040001,26.333333,13.000000,56851.0,0.4,53.000,8.3,...,181.328842,421.033123,NaN,5.882353,12.0,12.0,NaN,7.06,1654.660000,0.734
110,Marshall Islands,MHL,23.36600,126.669998,47.777778,11.111111,-4999.0,0.4,52.500,33.5,...,27.558648,103.353832,NaN,9.090909,17.0,17.0,NaN,0.72,322.516667,0.702
135,Palau,PLW,20.63500,102.830002,9.347826,0.652174,-4999.0,0.4,52.500,18.6,...,84.448136,224.605537,NaN,12.500000,28.0,28.0,NaN,5.96,38.715217,0.822
140,West Bank and Gaza,PSE,24.10600,105.870003,22.643333,4.129606,-52816.0,0.4,27.000,18.1,...,84.179796,547.723189,NaN,NaN,43.0,44.0,NaN,324.96,740.000831,0.708
141,Qatar,QAT,0.92200,111.370003,5.831158,1.218451,200000.0,0.1,9.000,7.0,...,146.383859,401.141105,NaN,9.756098,9.5,10.5,19.0,1385.20,237.138990,0.845
149,Solomon Islands,SLB,76.71400,101.519997,4.180064,0.714541,-7998.0,0.4,104.000,21.4,...,73.160765,61.317862,NaN,2.000000,9.0,9.0,NaN,10.50,22.723473,0.564
154,Sao Tome and Principe,STP,28.03200,121.870003,45.833333,4.166667,-8401.0,0.4,130.000,19.5,...,84.003979,38.631293,NaN,18.181818,7.0,7.0,NaN,0.88,215.714583,0.624
155,Suriname,SUR,33.95900,103.790001,0.538462,0.397436,-4999.0,1.2,120.000,19.3,...,139.505097,201.577210,NaN,25.490196,66.0,66.0,NaN,15.91,3.657058,0.734
161,Syrian Arab Republic,SYR,46.50000,107.620003,75.810053,25.388008,-2136954.0,0.1,31.000,23.5,...,89.999355,13.278217,NaN,13.200000,15.0,16.0,120.0,263.85,93.098453,0.563
166,Turkmenistan,TKM,48.84700,96.129997,72.006469,4.128274,-25001.0,0.4,7.000,42.9,...,162.861103,4.515718,NaN,25.806452,NaN,NaN,NaN,7.93,12.252180,0.710
168,Tonga,TON,76.83100,95.500000,48.611111,27.777778,-3999.0,0.4,52.000,12.1,...,105.823644,205.878316,NaN,7.692308,16.0,16.0,NaN,4.72,141.669444,0.723
177,Uzbekistan,UZB,49.45000,100.839996,58.063901,9.249932,-44314.0,0.2,29.000,16.8,...,75.924979,202.169899,NaN,16.000000,5.0,5.0,357.0,338.75,73.512382,0.717
178,St. Vincent and the Grenadines,VCT,48.21600,100.930000,17.948718,5.128205,-1000.0,0.4,68.000,15.6,...,105.478616,163.895617,NaN,13.043478,10.0,10.0,NaN,3.71,281.605128,0.736
181,Vanuatu,VUT,74.83700,98.970001,15.340443,1.640689,600.0,0.4,72.000,26.9,...,79.862702,178.634601,NaN,0.000000,18.0,18.0,NaN,10.46,23.420755,0.603
182,Samoa,WSM,81.54800,102.620003,26.749117,11.484099,-14013.0,0.4,43.000,18.1,...,63.583173,296.890836,NaN,10.000000,9.0,9.0,NaN,10.22,69.031095,0.709
183,"Yemen, Rep.",YEM,63.98400,91.220001,44.297403,2.079095,-150000.0,0.1,164.000,60.2,...,55.175024,3.377066,NaN,0.000000,40.0,41.0,15.0,126.37,52.720441,0.468

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with the median.

In [69]:
df['military_exp_2017'].fillna(df['military_exp_2017'].median(), inplace=True)

#### 23. Proportion of seats held by women in National Parliaments

In [70]:
df['women_seats_percent_2017'].describe()

count    182.000000
mean      21.489788
std       11.827659
min        0.000000
25%       12.073286
50%       20.101010
75%       30.500960
max       61.250000
Name: women_seats_percent_2017, dtype: float64

In [71]:
df[df['women_seats_percent_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
31,Chile,CHL,12.510,99.110001,21.192094,1.724203,558539.0,0.5,13.00,7.4,...,124.594478,7258.193973,1.935829,NaN,7.5,7.5,425.0,6791.32,24.841480,0.849
65,Equatorial Guinea,GNQ,28.354,106.150002,10.124777,4.278075,79998.0,7.1,301.00,86.9,...,44.858328,0.000000,1.100369,NaN,33.0,33.0,NaN,3.33,44.991373,0.582
70,"Hong Kong SAR, China",HKG,0.000,98.709999,4.857143,2.952381,146542.0,0.4,13.25,7.2,...,251.765006,10482.740897,1.430273,NaN,1.5,1.5,324.0,NaN,7041.142857,0.946
71,Honduras,HND,43.543,105.900002,29.940120,9.116096,-34000.0,0.3,65.00,18.0,...,87.320900,79.541704,1.724405,NaN,42.0,42.0,4.0,43.62,84.270408,0.633
140,West Bank and Gaza,PSE,24.106,105.870003,22.643333,4.129606,-52816.0,0.4,27.00,18.1,...,84.179796,547.723189,1.430273,NaN,43.0,44.0,NaN,324.96,740.000831,0.708

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with the median.

In [72]:
df['women_seats_percent_2017'].fillna(df['women_seats_percent_2017'].median(), inplace=True)

#### 24. Male-Owned Business Starts

In [73]:
df['male_bus_start_2017'].describe()

count    183.000000
mean      21.510137
std       26.361012
min        0.500000
25%        8.000000
50%       13.000000
75%       24.950000
max      230.000000
Name: male_bus_start_2017, dtype: float64

In [74]:
df[df['male_bus_start_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,-4999.0,0.4,13.500,3.0,...,104.332411,3415.717495,1.430273,32.142857,NaN,NaN,NaN,2.01,163.823404,0.867
40,Cuba,CUB,23.023,103.900002,60.693642,28.021195,-72000.0,0.4,36.000,5.4,...,40.688585,8.466165,2.872403,48.856209,NaN,NaN,29.0,1117.60,109.241378,0.781
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,1.430273,12.000000,NaN,NaN,NaN,33.89,236.281250,0.919
166,Turkmenistan,TKM,48.847,96.129997,72.006469,4.128274,-25001.0,0.4,7.000,42.9,...,162.861103,4.515718,1.430273,25.806452,NaN,NaN,NaN,7.93,12.252180,0.710

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with the median.

In [75]:
df['male_bus_start_2017'].fillna(df['male_bus_start_2017'].median(), inplace=True)

#### 24. Female-Owned Business Starts

In [76]:
df['female_bus_start_2017'].describe()

count    183.000000
mean      21.630355
std       26.363504
min        0.500000
25%        8.000000
50%       13.000000
75%       24.950000
max      230.000000
Name: female_bus_start_2017, dtype: float64

In [77]:
df[df['female_bus_start_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,-4999.0,0.4,13.500,3.0,...,104.332411,3415.717495,1.430273,32.142857,13.0,NaN,NaN,2.01,163.823404,0.867
40,Cuba,CUB,23.023,103.900002,60.693642,28.021195,-72000.0,0.4,36.000,5.4,...,40.688585,8.466165,2.872403,48.856209,13.0,NaN,29.0,1117.60,109.241378,0.781
99,Liechtenstein,LIE,85.685,99.010000,32.250000,13.500000,-4999.0,0.4,13.125,7.2,...,122.756614,23912.180928,1.430273,12.000000,13.0,NaN,NaN,33.89,236.281250,0.919
166,Turkmenistan,TKM,48.847,96.129997,72.006469,4.128274,-25001.0,0.4,7.000,42.9,...,162.861103,4.515718,1.430273,25.806452,13.0,NaN,NaN,7.93,12.252180,0.710

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with the median.

In [78]:
df['female_bus_start_2017'].fillna(df['female_bus_start_2017'].median(), inplace=True)

#### 25. Patent Applications

In [79]:
df['patent_apps_2017'].describe()

count    1.150000e+02
mean     1.879897e+04
std      1.219180e+05
min      1.000000e+00
25%      2.350000e+01
50%      1.720000e+02
75%      1.159000e+03
max      1.245709e+06
Name: patent_apps_2017, dtype: float64

In [80]:
df[df['patent_apps_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
0,Afghanistan,AFG,74.750,99.169998,58.067580,11.792727,-314602.0,0.1,638.0,64.8,...,65.929134,43.448181,0.945227,27.710843,8.0,9.0,NaN,91.89,55.595550,0.509
1,Angola,AGO,35.161,103.419998,45.237371,3.930376,32066.0,1.9,241.0,80.6,...,44.686107,10.799292,2.507985,30.454545,36.0,36.0,NaN,55.50,23.916555,0.582
3,Andorra,AND,11.850,102.830002,40.042553,1.744681,-4999.0,0.4,13.5,3.0,...,104.332411,3415.717495,1.430273,32.142857,13.0,13.0,NaN,2.01,163.823404,0.867
7,Antigua and Barbuda,ATG,75.287,101.589996,20.454545,9.090909,0.0,0.4,42.0,7.1,...,192.819567,890.751899,1.430273,11.111111,22.0,22.0,NaN,5.20,216.875000,0.772
13,Benin,BEN,53.232,105.330002,35.030153,24.831501,-10000.0,1.0,397.0,93.2,...,78.504596,4.205744,0.920613,7.228916,8.0,9.0,NaN,209.42,99.105995,0.541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Tanzania,TZA,66.947,96.970001,44.761797,15.240461,-200381.0,5.0,524.0,54.1,...,73.094790,22.703845,1.055796,37.179487,29.0,29.0,NaN,610.37,61.707321,0.524
178,St. Vincent and the Grenadines,VCT,48.216,100.930000,17.948718,5.128205,-1000.0,0.4,68.0,15.6,...,105.478616,163.895617,1.430273,13.043478,10.0,10.0,NaN,3.71,281.605128,0.736
181,Vanuatu,VUT,74.837,98.970001,15.340443,1.640689,600.0,0.4,72.0,26.9,...,79.862702,178.634601,1.430273,0.000000,18.0,18.0,NaN,10.46,23.420755,0.603
182,Samoa,WSM,81.548,102.620003,26.749117,11.484099,-14013.0,0.4,43.0,18.1,...,63.583173,296.890836,1.430273,10.000000,9.0,9.0,NaN,10.22,69.031095,0.709
186,Zimbabwe,ZWE,67.763,111.699997,41.876696,10.339925,-584288.0,13.2,458.0,57.0,...,98.985073,30.555050,1.544948,32.575758,61.0,61.0,NaN,340.45,36.801342,0.569

The countries above are those countries where data is unavailable. Based on our own estimations, we are going to assign all countries a value in line with the 25% value.

In [81]:
df['patent_apps_2017'].fillna(df['patent_apps_2017'].quantile(.25), inplace=True)

#### 26. Scientific Articles

In [82]:
df['sci_articles_2017'].describe()

count       186.000000
mean      13018.392151
std       50321.111313
min           0.720000
25%          53.310000
50%         354.370000
75%        5640.742500
max      473438.510000
Name: sci_articles_2017, dtype: float64

In [83]:
df[df['sci_articles_2017'].isna()]

,Country Name,Country Code,rural_pop_percent_17,food_production_index_17,ag_land_area_17,arable_land_percent_2017,net_migration_2017,hiv_prevalence_2017,mat_mortality_ratio_2017,under5_mortality_ratio_2017,...,cell_subscriptions_per100,internet_per_mil_2017,military_exp_2017,women_seats_percent_2017,male_bus_start_2017,female_bus_start_2017,patent_apps_2017,sci_articles_2017,pop_density_2017,HDI
70,"Hong Kong SAR, China",HKG,0.0,98.709999,4.857143,2.952381,146542.0,0.4,13.25,7.2,...,251.765006,10482.740897,1.430273,20.10101,1.5,1.5,324.0,NaN,7041.142857,0.946

Hong Kong is the only country where data is unavailable. Based on our own estimations, we are going to assign Hong Kong a value in line with the 75% value.

In [84]:
df['sci_articles_2017'].fillna(df['sci_articles_2017'].quantile(.75), inplace=True)

### Check for Nulls

In [85]:
df.isnull().sum()

Country Name                   0
Country Code                   0
rural_pop_percent_17           0
food_production_index_17       0
ag_land_area_17                0
arable_land_percent_2017       0
net_migration_2017             0
hiv_prevalence_2017            0
mat_mortality_ratio_2017       0
under5_mortality_ratio_2017    0
tubercul_incidence_2017        0
elec_access_2017               0
ren_energy_percent_2017        0
co2_emissions_2017             0
pop_air_pollution_2017         0
foreign_dir_inv_2017           0
atm_access_2017                0
adol_fertility_rate_2017       0
fem_labor_part_rate_2017       0
male_labor_part_rate_2017      0
fertility_rate_2017            0
dpt_immuniz_rate_2017          0
undernourished_rate_2017       0
cell_subscriptions_per100      0
internet_per_mil_2017          0
military_exp_2017              0
women_seats_percent_2017       0
male_bus_start_2017            0
female_bus_start_2017          0
patent_apps_2017               0
sci_articles_2017              0
pop_density_2017               0
HDI                            0
dtype: int64

### Save cleaned DataFrame

In [86]:
df.to_csv('../datasets/cleaned_data.csv', index=False)