#### Getting data from the World Bank to build a dataframe

In [279]:
# here's where our code goes

In [280]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot
import seaborn as sns

from functools import reduce

-----
## Read in and Aggregate Agriculture/Rural Development Data

In [281]:
# Creating a agriculture/land based df
rural_pop = pd.read_csv('/Users/petermurphy/Downloads/API_SP.RUR.TOTL.ZS_DS2_en_csv_v2_4261416.csv', skiprows=4)

In [282]:
rural_pop.drop(columns = ['Unnamed: 66'], inplace = True)
rural_pop.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224000,49.239000,49.254000,49.270000,49.285000,49.300000,...,57.043000,57.010000,56.959000,56.892000,56.808000,56.707000,56.589000,56.454000,56.303000,56.134000
1,Africa Eastern and Southern,AFE,Rural population (% of total population),SP.RUR.TOTL.ZS,85.295312,85.055541,84.814392,84.555586,84.280924,83.998008,...,66.928313,66.492452,66.047576,65.594916,65.134899,64.667627,64.192230,63.708678,63.216694,62.716935
2,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.599000,91.316000,91.024000,90.724000,90.414000,90.096000,...,75.840000,75.627000,75.413000,75.197000,74.980000,74.750000,74.505000,74.246000,73.974000,73.686000
3,Africa Western and Central,AFW,Rural population (% of total population),SP.RUR.TOTL.ZS,85.329671,84.946423,84.550718,84.135979,83.705016,83.258639,...,57.098965,56.469296,55.842869,55.218627,54.598191,53.980666,53.366862,52.757147,52.151375,51.550098
4,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565000,89.202000,88.796000,88.376000,87.942000,87.496000,...,38.732000,37.998000,37.269000,36.554000,35.851000,35.161000,34.486000,33.823000,33.175000,32.540000
5,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295000,69.057000,68.985000,68.914000,68.842000,68.770000,...,45.670000,44.613000,43.577000,42.566000,41.579000,40.617000,39.681000,38.771000,37.888000,37.031000
6,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550000,39.017000,36.538000,34.128000,31.795000,29.555000,...,11.369000,11.463000,11.559000,11.655000,11.752000,11.850000,11.938000,12.016000,12.084000,12.142000
7,Arab World,ARB,Rural population (% of total population),SP.RUR.TOTL.ZS,68.765858,68.020073,67.270880,66.498400,65.696398,64.852300,...,42.901604,42.599266,42.307675,41.968534,41.654373,41.357678,41.073405,40.798354,40.528234,40.262086
8,United Arab Emirates,ARE,Rural population (% of total population),SP.RUR.TOTL.ZS,26.500000,25.617000,24.752000,23.907000,23.081000,22.277000,...,15.251000,14.934000,14.625000,14.326000,14.035000,13.752000,13.478000,13.211000,12.952000,12.701000
9,Argentina,ARG,Rural population (% of total population),SP.RUR.TOTL.ZS,26.389000,25.783000,25.233000,24.691000,24.156000,23.631000,...,8.879000,8.751000,8.623000,8.497000,8.373000,8.251000,8.130000,8.009000,7.889000,7.771000

In [283]:
rural_pop_18 = rural_pop[['Country Name','Country Code','Indicator Name', '2018']].copy()

In [284]:
rural_pop_18.head(2)

,Country Name,Country Code,Indicator Name,2018
0,Aruba,ABW,Rural population (% of total population),56.58900
1,Africa Eastern and Southern,AFE,Rural population (% of total population),64.19223

In [285]:
type(rural_pop_18)

pandas.core.frame.DataFrame

In [286]:
rural_pop_18.rename(columns = {'2018': 'rural_pop_percent'}, inplace = True)

In [287]:
food_production_index = pd.read_csv('/Users/petermurphy/Downloads/API_AG.PRD.FOOD.XD_DS2_en_csv_v2_4254742.csv', skiprows=4)
food_production_index.drop(columns= 'Unnamed: 66', inplace = True)

In [288]:
food_production_index.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,3.218106,3.276015,3.455535,3.327762,3.340065,...,0.193987,0.207789,0.214742,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,41.439999,41.770000,41.580002,45.090000,47.200001,...,97.120003,94.199997,101.610001,95.989998,102.400002,99.169998,95.910004,110.660004,NaN,NaN
3,Africa Western and Central,AFW,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,0.037591,0.039485,0.040958,0.042450,0.043070,...,0.181953,0.181735,0.195361,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,14.650000,15.170000,15.520000,16.230000,16.770000,...,81.110001,110.699997,97.379997,100.300003,102.309998,103.419998,107.379997,110.160004,NaN,NaN
5,Albania,ALB,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,21.350000,21.940001,20.719999,23.370001,22.240000,...,95.059998,95.639999,96.839996,100.040001,103.120003,103.980003,105.769997,102.660004,NaN,NaN
6,Andorra,AND,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Arab World,ARB,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,3.196837,3.256673,3.435797,3.307881,3.321321,...,1.043046,1.001532,1.053728,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,United Arab Emirates,ARE,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,4.630000,4.700000,4.850000,5.040000,5.150000,...,77.320000,78.370003,93.309998,98.760002,107.930000,104.180000,110.180000,111.739998,NaN,NaN
9,Argentina,ARG,Food production index (2014-2016 = 100),AG.PRD.FOOD.XD,NaN,31.469999,33.259998,36.270000,33.709999,31.990000,...,86.169998,93.970001,95.169998,104.050003,100.790001,105.940002,97.190002,112.790001,NaN,NaN

In [289]:
food_production_index_18 = food_production_index[['Country Name','Country Code','Indicator Name', '2018']].copy()

In [290]:
food_production_index_18.rename(columns = {'2018': 'food_prod_index_2018'}, inplace = True)

In [291]:
rural_food = pd.merge(left = rural_pop_18, right = food_production_index_18, on = 'Country Code', copy = False, suffixes = (None,'_right'))
print(rural_food.shape)
rural_food.head()

(266, 7)

,Country Name,Country Code,Indicator Name,rural_pop_percent,Country Name_right,Indicator Name_right,food_prod_index_2018
0,Aruba,ABW,Rural population (% of total population),56.589000,Aruba,Food production index (2014-2016 = 100),NaN
1,Africa Eastern and Southern,AFE,Rural population (% of total population),64.192230,Africa Eastern and Southern,Food production index (2014-2016 = 100),NaN
2,Afghanistan,AFG,Rural population (% of total population),74.505000,Afghanistan,Food production index (2014-2016 = 100),95.910004
3,Africa Western and Central,AFW,Rural population (% of total population),53.366862,Africa Western and Central,Food production index (2014-2016 = 100),NaN
4,Angola,AGO,Rural population (% of total population),34.486000,Angola,Food production index (2014-2016 = 100),107.379997

In [292]:
rural_food.drop(columns = ['Indicator Name','Indicator Name_right','Country Name_right'], inplace = True)

In [293]:
ag_land_area = pd.read_csv('/Users/petermurphy/Downloads/API_AG.LND.AGRI.ZS_DS2_en_csv_v2_4254639.csv', skiprows=4)
ag_land_area.drop(columns = ['Unnamed: 66'], inplace = True)
ag_land_area.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,11.111111,11.111111,11.111111,11.111111,11.111111,...,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,43.672679,43.645948,43.681124,43.651032,43.622251,...,43.621913,43.747682,43.877935,43.937150,44.005687,44.042629,44.117980,NaN,NaN,NaN
2,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,57.745918,57.837821,57.914407,58.010906,58.013969,...,58.067580,58.067580,58.067580,58.067580,58.067580,58.067580,58.081365,NaN,NaN,NaN
3,Africa Western and Central,AFW,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,33.441755,33.557985,33.814094,33.942227,34.208301,...,39.514961,39.740192,39.765147,39.792053,39.889124,39.930699,39.953545,NaN,NaN,NaN
4,Angola,AGO,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,45.857063,45.881126,45.897169,45.921232,45.937274,...,43.011249,43.456474,43.901699,44.346924,44.792155,45.237371,45.682594,NaN,NaN,NaN
5,Albania,ALB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,44.963504,44.963504,45.000000,44.890511,45.145985,...,43.843066,43.332117,42.857299,42.857664,43.127737,42.670839,42.849672,NaN,NaN,NaN
6,Andorra,AND,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,55.319149,55.319149,55.319149,55.319149,55.319149,...,39.914894,40.021277,40.000000,40.021277,40.042553,40.042553,40.063830,NaN,NaN,NaN
7,Arab World,ARB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,27.835643,27.826564,27.845522,27.847925,27.866972,...,36.525962,36.574248,36.570794,36.583219,36.561966,36.560345,36.563558,NaN,NaN,NaN
8,United Arab Emirates,ARE,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,2.928752,2.928752,2.928752,2.928752,2.942833,...,5.304140,5.342157,5.385807,5.390031,5.404112,5.404112,5.375246,NaN,NaN,NaN
9,Argentina,ARG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,50.363395,49.853655,49.283989,48.707380,48.153061,...,54.538146,54.518049,54.335712,54.335712,54.335712,54.335712,54.360560,NaN,NaN,NaN

In [294]:
ag_land_area_18 = ag_land_area[['Country Name','Country Code','Indicator Name', '2018']].copy()

In [295]:
ag_land_area_18.rename(columns={'2018': 'ag_land_percent'}, inplace = True)

In [296]:
arable_land_area = pd.read_csv('/Users/petermurphy/Downloads/API_AG.LND.ARBL.ZS_DS2_en_csv_v2_4252676.csv', skiprows=4)
arable_land_area.drop(columns = ['Unnamed: 66'], inplace = True)
arable_land_area.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,11.111111,11.111111,11.111111,11.111111,11.111111,...,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,4.735556,4.789182,4.914965,4.969083,5.025414,...,8.144944,8.189016,8.246972,8.249165,8.253303,8.231181,8.247616,NaN,NaN,NaN
2,Afghanistan,AFG,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,11.717673,11.794259,11.870845,11.947431,11.947431,...,11.932114,11.924455,11.903011,11.893821,11.838679,11.792727,11.798854,NaN,NaN,NaN
3,Africa Western and Central,AFW,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,6.984022,7.076486,7.331711,7.445694,7.698172,...,11.033062,11.113984,11.113469,11.113469,11.201909,11.224018,11.224018,NaN,NaN,NaN
4,Angola,AGO,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,2.141654,2.165717,2.181760,2.205823,2.221866,...,3.769953,3.930376,3.930376,3.930376,3.930376,3.930376,3.930376,NaN,NaN,NaN
5,Albania,ALB,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,15.766423,15.912409,16.058394,16.167883,16.788321,...,22.594891,22.521898,22.467153,22.448905,22.638686,22.149635,22.311898,NaN,NaN,NaN
6,Andorra,AND,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,2.127660,2.127660,2.127660,2.127660,2.127660,...,1.617021,1.723404,1.702128,1.723404,1.744681,1.744681,1.765957,NaN,NaN,NaN
7,Arab World,ARB,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,3.142108,3.135166,3.146558,3.171657,3.204055,...,4.438836,4.462514,4.450025,4.458581,4.446968,4.453377,4.457414,NaN,NaN,NaN
8,United Arab Emirates,ARE,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,0.070403,0.070403,0.070403,0.070403,0.070403,...,0.522388,0.528020,0.619544,0.620952,0.626584,0.626584,0.595607,NaN,NaN,NaN
9,Argentina,ARG,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,6.795435,7.008466,7.161936,7.308098,7.476550,...,14.526307,14.506210,14.323873,14.323873,14.323873,14.323873,14.323873,NaN,NaN,NaN

In [297]:
arable_land_area_18 = arable_land_area[['Country Name','Country Code','Indicator Name', '2018']].copy()
arable_land_area_18.rename(columns = {'2018': 'arable_land_percent'}, inplace=True)

In [330]:
data_frames = [arable_land_area_18, ag_land_area_18, food_production_index_18, rural_pop_18]

ag_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country Code', 'Country Name'],
                                            how='outer'), data_frames)

/var/folders/sn/lc4nd7555zx4s3l72qcvhj6h0000gn/T/ipykernel_10113/2874273465.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Indicator Name_x'} in the result is deprecated and will raise a MergeError in a future version.
  ag_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country Code', 'Country Name'],

In [332]:
ag_merged.drop(columns = ['Indicator Name_x', 'Indicator Name_y'], inplace=True)

In [333]:
ag_merged

,Country Name,Country Code,arable_land_percent,ag_land_percent,food_prod_index_2018,rural_pop_percent
0,Aruba,ABW,11.111111,11.111111,NaN,56.589000
1,Africa Eastern and Southern,AFE,8.247616,44.117980,NaN,64.192230
2,Afghanistan,AFG,11.798854,58.081365,95.910004,74.505000
3,Africa Western and Central,AFW,11.224018,39.953545,NaN,53.366862
4,Angola,AGO,3.930376,45.682594,107.379997,34.486000
...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,2.079095,44.297403,90.320000,63.358000
263,South Africa,ZAF,9.892094,79.417850,103.690002,33.645000
264,Zambia,ZMB,5.111718,32.063923,120.120003,56.479000
265,Zimbabwe,ZWE,10.339925,41.876696,113.599998,67.791000

--------
## Read in and Aggregate Aid Data